*{
    margin:0px;
    padding:0px;
    text-decoration: none;
    font-family: 'Montserrat Alternates', sans-serif;
}

.navbar .nav li a{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size:1.5rem;
    color:#00695c;
}

.img-custom{
    margin-top:-5rem;
    
}
.container-margin{
    margin-top:4rem;
}